<h2> Car List</h2>
<table class = "table table-stripped">
    <thead>
        <tr>
                <th> Brand </th>
                <th> Model </th>
                <th> Manufacture Year</th>
                <th> Approximate Price</th> 
                <th> Actions</th> 
         </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let car of cars">
                <td> {{car.brand}} </td>
                <td> {{car.model}} </td>
                <td> {{car.year}} </td> 
                <td> {{car.price}} </td>
                <td>
                    <button (click) = "updateCarInfo(car.id)" class = "btn btn-info"> Update </button> 
                    <button (click) = "deleteCarInfo(car.id)" class = "btn btn-danger" style = 'margin-left: 10px'> Delete </button> 
                    <button (click) = "viewCarInfo(car.id)" class = "btn btn-info" style = 'margin-left: 10px'> View </button> 
                </td>
        </tr>
    </tbody>
</table>