<div class = "col-md-6 offset-md-3">
    <h3>Update Car Information</h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class = "form-group">
            <label> Brand </label>
            <input type = "text" class = "form-control" id = "brand" 
            [(ngModel)] = "car.brand" name = "brand">
        </div>
    
        <div class = "form-group">
            <label> Model </label>
            <input type = "text" class = "form-control" id = "model" 
            [(ngModel)] = "car.model" name = "model">
        </div>
    
        <div class = "form-group">
            <label> Year </label>
            <input type = "text" class = "form-control" id = "year" 
            [(ngModel)] = "car.year" name = "year">
        </div>
    
        <div class = "form-group">
            <label> Price </label>
            <input type = "text" class = "form-control" id = "price" 
            [(ngModel)] = "car.price" name = "price">
        </div>
    
        <button class = "btn btn-success" type = "submit"> Submit </button>
    </form>
    </div>